body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-image: url(faded-office.png);
    background-size: cover;
    font-family: "Open Sans", sans-serif;
}

.main {
    padding: 60px;
    margin: 20px;
}

.title {
    font-weight: 900;
    font-size: 40px;
    color: #020202;
    margin-bottom: 10px;
}

.sub-title {
    font-size: 20px;
    font-weight: 600;
    max-width:300px;
    margin-bottom: 30px;
}

.sub-title span {
    border-bottom: 4px solid #0ea5e9;
}

.btn {
    border: none;
    padding: 16px 36px;
    background-color: #0ea5e9;
    color: #ffffff;
    font-weight: bold;
    font-size: 16px;
}